/* Box Model Hack */
* {
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

body {
  margin: 0;
  background-color: rgba(0, 0, 0, 1);
  background-image: url("./asset/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  font-size: 1.2em;
  color: white;
  /* display: flex;
        flex-direction: column;
        min-height: 100vh; */
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3 {
  text-align: center;
  overflow: hidden;
}

.container {
  /* display: flex; */
  max-width: 100%;
  margin: 0 auto;
  padding: 40px 20px;
  /* border: 1px solid red; */
}

.menu-item-section {
  display: inline-block;
  width: 150px;
  height: 150px;
  border: 1px solid white;
  margin: 0 auto;
  /* padding: 0 20px; */
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  text-align: center;
}

.menu-item-section:hover {
  opacity: 0.7;
}

/* .menu-item-section:not(:last-child) {
  margin-bottom: 80px;
} */

.menu-div {
  /* border: 1px solid lime; */
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  align-items: center;
  padding: 20px 0;
  gap: 1rem;
}

.meal-title {
  padding: 20px 0;
  border-bottom: 2px solid white;
}


.google-maps-style {
  display: block-inline;
  margin: 0 auto;
  text-align: center;
  min-width: 80%;
  max-width: 500px;
  height: 450px;
}

header {
  margin: 0 auto;
  display: flex;
  /* flex-direction: row; */
  /* width: 100%; */
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.8);
  /* border: 1px solid red; */
}

.navbar {
  /* display: flex; */
  /* width: 100%; */
  gap: 6px;
  margin-right: 40px;

}

.btn {
  background: none;
  font-size: inherit;
  color: white;
  border: none;
}

.btn:hover {
  text-decoration: underline;
  font-size: 1.5rem;
}

.btn-current {
  max-width: 100%;
  padding: 40px 10px;
  border: none;
  color: black;
  font-size: inherit;
  background: white;
}

.home-div,
.contact-div {
  display: flex;
  flex-direction: column;
  /* border: 1px solid lime; */
  min-width: 50%;
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
}

/* #content .home-div {
  padding-bottom: 30vh;
} */

.home-div p,
.aboutus-div p,
.contact-div p {
  /* border: 1px solid blue; */
  font-size: 1.3em;
  line-height: 1.3em;
  color: lime;
}

.aboutus-div {
  display: flex;
  justify-content: center;
  gap: 20px
}

.aboutus-div img,
.aboutus-div p {
  max-width: 40%;
}

.home-div .btn {
  /* color: red; */
  /* border: 1px solid blue; */
  width: 150px;
  padding: 10px;
  align-self: flex-end;
}

/* .contact-div {
  display: flex;
  max-width: 50%;
  min-width: 600px;
  margin: 0 auto;
  border: 1px solid lime;
  flex-direction: column;
  text-align: center;
} */

.aboutus-div {
  /* border: 1px solid lime; */
  padding: 10px 40px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.5);

}

.logo {
  width: 50px;
}

/* #content {
  background-image: url("./asset/ben-koorengevel-Vd0_Htlb-Kk-unsplash.jpg");
  background-size: cover no-repeat;
  background-position: center center;
  height: 100vh;
  width: 100vw;
      background-repeat: repeat;

} */

.meal-div {
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
  max-width: 100%;
  margin: 0 auto;
  padding: 40px 0;
  /* border: 1px solid red; */
}

.logo-txt {
  line-height: 1.3rem;
}

footer {
  position: relative;
  bottom: -20vh;
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  padding: 40px;
  text-align: center;
}

@media (max-width: 400px) {
  header {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 750px) {

  .menu-item-section {
    width: 100px;
    height: 100px;
  }

  .navbar {
    margin: 0 auto;
  }
}

@media (max-width: 1000px) {

  .aboutus-div {
    flex-direction: column;
  }

  .aboutus-div img,
  .aboutus-div p {
    max-width: 70%;
  }
}

@media (max-width: 1300px) {
  .aboutus-div {
    flex-direction: column;
  }

  .aboutus-div img,
  .aboutus-div p {
    max-width: 90%;
  }
}